<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/fragments :: head(#{com.example.tadoblog.title})"></head>
<body>
<header th:insert="fragments/fragments :: navigation">

</header>
<main>
    <div th:if="${not pageOfCards.hasContent()}">
        <div class="alert alert-primary" role="alert" th:text="#{com.eshop.cards.empty.card}">
        </div>
    </div>
    <div class="container-fluid d-flex justify-content-center m-2">
        <div th:each="card : ${pageOfCards.content}" class="card m-2 image-rem">
            <img th:src="@{/img/tropical-Fish.jpg}" class="card-img-top image-size" alt="...">
            <div class="card-body">
                <h5 th:text="${card.cardTitle}" class="card-title"></h5>
                <p th:text="${card.cardText}" class="card-text text-truncate" style="max-width: 350px"></p>
                <a th:href="@{/cards/readMore(id=${card.id})}" class="btn btn-primary">Read more</a>
                <a th:href="@{/cards/update(id=${card.id})}" class="btn btn-primary">Update</a>
               <a th:href="@{/cards/{id}/delete(id=${card.id})}"
                       class="btn btn-danger"
                       th:text="#{com.eshop.cards.delete}"></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
        </div>
        <nav class="col-8" aria-label="Page navigation example">
            <ul class="pagination justify-content-center"
                th:with="order=${pageOfCards.sort.toList().get(0)},
                sort=${order.property+','+order.direction}">
                <li class="page-item"
                    th:classappend="${pageOfCards.number eq 0 ? 'disabled':''}">
                    <a class="page-link"
                       aria-label="Previous"
                       th:href="@{/cards/(page=${pageOfCards.number}-1,sort=${sort}+',ignorecase')}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"
                    th:each="pageNumb:${#numbers.sequence(0,pageOfCards.totalPages -1)}"
                    th:classappend="${pageNumb eq pageOfCards.number ? 'active':''}">
                    <a class="page-link"
                       th:href="@{cards(page=${pageNumb},sort=${sort}+',ignorecase')}"
                       th:text="${pageNumb}+1"></a>
                </li>
                <li class="page-item"
                    th:classappend="${pageOfCards.number eq pageOfCards.totalPages -1 ? 'disabled':''}">
                    <a class="page-link"
                       aria-label="Next"
                       th:href="@{/cards/(page=${pageOfCards.number}+1,sort=${sort}+',ignorecase' )}"
                    >
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
<!--        <div class="col-2 text-end">-->
<!--            <span th:text="#{com.eshop.products.table.totalProducts}+' '+${pageOfProducts.totalElements}"></span>-->
<!--        </div>-->
    </div>
</main>
<div th:replace="fragments/fragments :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>