<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/fragments :: head(#{com.example.tadoblog.readmore.title})"></head>
<body>
<header th:insert="fragments/fragments :: navigation"></header>
<main>
    <div class="container">

        <div class="container">
            <div class="col background-white py-3">
                <div class="clearfix">
                    <img th:src="@{/img/tropical-Fish.jpg}" class="col-md-4 mb-3 ms-md-3 rounded float-sm-start me-2"
                         alt="...">
                    <p th:text="${readMore.cardText}"></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div sec:authorize="hasAnyRole('ADMIN','USER')" class="input-group mb-3">
                <form  th:method="post" th:object="${comment}"
                      th:action="@{/private/cards/readMore/{id}/addComment(id=${readMore.id})}">
                    <input type="text"
                           class="form-control"
                           th:placeholder="#{com.commentText.placeholder}"
                           th:field="*{commentText}">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2" th:text="#{com.add.Comment}"></button>
                </form>
            </div>
                <h2 th:text="#{com.blog.comments}"></h2>
            <div th:each="comment : ${readMore.comments}" th:if="${comment.getParentComment() == null}">
                <div class="pt-3" th:text="${comment.getUser().name} + ' : '+${comment.commentText}"></div>
                <a th:if="${comment.getUser().getId().equals(currentUserId) && !comment.getId().equals(editCommentId)}"
                   th:href="@{/private/cards/readMore/{id}/editComment/{commentId}(id=${readMore.id},commentId=${comment.id})}"class="btn btn-light" th:text="#{com.edit}"></a>
                <a th:if="${comment.getUser().getId().equals(currentUserId)|| isAdmin}"
                   th:href="@{/private/cards/readMore/{id}/removeComment/{commentId}(id=${readMore.id},commentId=${comment.id})}" class="btn btn-light" th:text="#{com.remove}"></a>
                <a sec:authorize="hasAnyRole('ADMIN','USER')" th:if="${!comment.getId().equals(replyCommentId)}" th:href="@{/private/cards/readMore/{id}/replyComment/{commentId}(id=${readMore.id},commentId=${comment.id})}" class="btn btn-light" th:text=" #{com.reply}"></a>
                <form th:if="${comment.getId().equals(editCommentId)}" th:method="post" th:object="${comment}"
                      th:action="@{/private/cards/readMore/{id}/editComment/{commentId}(id=${readMore.id},commentId=${comment.id})}">
                    <input type="text"
                           class="form-control"
                           th:field="*{commentText}">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addona" th:text="#{com.save}"></button>
                </form>
                <form th:if="${comment.getId().equals(replyCommentId)}" th:method="post" th:object="${comment}"
                      th:action="@{/private/cards/readMore/{id}/addComment/{commentId}(id=${readMore.id},commentId=${comment.id})}">
                    <input type="text"
                           class="form-control"
                           th:placeholder="#{com.commentText.placeholder}"
                           th:field="*{commentText}">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon" th:text="#{com.reply}"></button>
                </form>

                <div class="ps-5"
                     th:each="childComment : ${readMore.comments}"
                     th:if="${childComment.getParentComment() != null && childComment.getParentComment().getId().equals(comment.getId())}">
                    <div th:text="${childComment.getUser().name}+' : ' + ${childComment.commentText}"></div>

                    <a th:if="${childComment.getUser().getId().equals(currentUserId) && !childComment.getId().equals(editCommentId)}"
                       th:href="@{/private/cards/readMore/{id}/editComment/{commentId}(id=${readMore.id},commentId=${childComment.id})}" class="btn btn-light" th:text="#{com.edit}"></a>
                    <form th:if="${childComment.getId().equals(editCommentId)}" th:method="post" th:object="${comment}"
                          th:action="@{/private/cards/readMore/{id}/editComment/{commentId}(id=${readMore.id},commentId=${childComment.id})}">
                        <input type="text"
                               class="form-control"
                               th:field="*{commentText}">
                        <button class="btn btn-outline-secondary" type="submit" th:text="#{com.save}"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/fragments :: footer"></footer>
</body>
</html>